[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fakeredis = "*"
requests = "*"
defusedxml = "*"

[dev-packages]
pytest = "*"
mock = "*"
botbot-plugins = {editable = true, path = "."}

[requires]
python_version = "3.9"
